/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
}

.main-dashboard-table thead tr th, .main-dashboard-table tbody tr td {
    text-align: center;
}

.main-dashboard-table thead tr th:first-of-type, .main-dashboard-table tbody tr td:first-of-type, .main-dashboard-table thead tr th:last-of-type, .main-dashboard-table tbody tr td:last-of-type {
    width: 10%;
}

.main-dashboard-table thead tr th:nth-of-type(3), .main-dashboard-table tbody tr td:nth-of-type(3), .main-dashboard-table thead tr th:nth-of-type(4), .main-dashboard-table tbody tr td:nth-of-type(4) {
     width: 15%;
 }

.main-dashboard-table thead tr th:nth-of-type(2), .main-dashboard-table tbody tr td:nth-of-type(2) {
    text-align: left;
    width: 50%;
}

.main-dashboard-table tbody tr:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.status {
    font-size: 30px !important;
}

.status.success {
    color: green;
}

.status.warning {
    color: orange;
}

.status.error {
    color: red;
}

.status.unknown {
    color:grey;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}